@charset "utf-8";
/* CSS Document */
.l_float{float:left;}
.r_float{float:right;}
.c_float{margin:0 auto;}
.text_center{text-align:center;}
.text_left{text-align:left;}
.text_right{text-align:right;}
.clear{clear:both}
.hide{display:none}
.absolute{position:absolute}
.inline{display:inline}
.block{display:block}
.thin {width:2%;}
.wide {width:100%;}
.w98 {width:98%;}
.w90 {width:90%;}
.w80 {width:80%;}
.w75 {width:75%;}
.w70 {width:70%;}
.w66 {width:66.6%;}
.w60 {width:60%;}
.w50 {width:50%;}
.w40 {width:40%;}
.w33 {width:33.3%;}
.w30 {width:30%;}
.w25 {width:25%;}
.w20 {width:20%;}
.w15 {width:15%;}
.w10 {width:10%;}
.w5 {width:5%;}
.wrap{word-wrap: break-word;}
.bold{font-weight: bold;}
.normal{font-weight:normal;}
.italic{font-weight:italic;}
.over_line{text-decoration:line-through;}
.row{margin:5px 0 5px 0;}
.main_container{
	width:934px;
	background:#FFF;
	margin:0 auto;
}
.container{
	width:906px;
	margin:0 auto;
}
body{
	background:url(../images/background.gif);
}
.login_div{
	height:28px;
	float:right;
	margin-right:5px;
	color:#277f8b;
	padding-top:10px;
	font-size:13px;
	cursor:pointer;
}
.header_1{
	height:47px;
	background:url(../images/header9.png);
	color:#FFFFFF;
}

.header_2{
	height:312px;
	background:url(../images/header4.PNG);
}
.header_3{
	background:url(../images/header3.PNG);
	height:112px;
}
.header_man{
	background:url(../images/header2.PNG);
	width:392px;
	height:350px;
	margin-left:10px;
	margin-top:-310px;
	float:left;
}
.header_3_1{
	height:0px;
}
.header_3_2{
	width:100%;
	float:left;
	margin-top:0px;
}

.header_3_2_1{
	float:left;
	width:325px;
	padding-right:15px;
	color:#FFF;
	font-size:18px;
}
.header_3_2_2{
	float:left;
	width:50px;
	background:url(../images/header5.png);
	height:45px;
}
.header_3_2_3{
	float:right;
	background:url(../images/header10.png);
	width:257px;
	height:42px;
	margin-right:25px;
	text-align:center;
	padding-top:10px;

}

.cls_postcode{
	height:25px;
	font-size:18px;
	border:0px none;
	background:transparent none;
	text-transform:uppercase;
	color:#432A1F;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
}

.header_3_2_4{
	float:right;
	background:url(../images/header6.png);
	width:187px;
	height:37px;
	margin-right:20px;
	text-align:center;
	padding-top:15px;
	cursor:pointer;
}

.header_3_2_4_mouseover{
	float:right;
	background:url(../images/header11.PNG);
	width:187px;
	height:37px;
	margin-right:20px;
	text-align:center;
	padding-top:15px;
	cursor:pointer;
}

.header_3_2_4_1{
	color:#FFFFFF;
	text-shadow:#000 1px 1px 1px;
	font-size:18px;
	font-weight:bold;
}

.header_4{
	background:url(../images/header7.png);
	height:34px;
}

.clear-both{
	clear:both;
}
.company-name{
	float:left;
	font-size:30px;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:10px;
	padding-top:4px;
}
.logo{
	float:left;
	width:94px;
	height:82px;
	margin-top:-15px;
}

.header_1_1{
	float:right;
	width:100px;
	font-size:18px;
	padding-top:10px;
}

.header_1_2{
	float:right;
	width:185px;
	font-size:18px;
	padding-top:10px;
	padding-left:25px;
}

.header_1_3{
	float:right;
	width:140px;
	font-size:18px;
	padding-top:10px;
}

.homepage_body{
	width:906px;
}
.body_1_1{
	float:left;
	width:600px;
	padding-left:5px;
}
.body_1_1_1{
	background:url(../images/body-1.PNG);
	width:569px;
	height:27px;
	font-size:20px;
	padding-top:5px;
	padding-left:10px;
}
.body_1_1_2{
	background:#fefcf3;
	width:579px;
	height:15px;
}
.body_1_1_3{
	background:url(../images/body-3.PNG);
	width:579px;
	height:25px;
}
.body_1_2{
	float:right;
	width:294px;
}

.body_2{
	float:left;
	margin-top:-20px;
}

.body_2_1{
	font-size:25px;
	color:#373737;
	padding-bottom:20px;
}

.body_2_2{
	color:#47a1ad;
	padding-bottom:10px;
}

.body_2_3{
	padding-bottom:20px;
	color:#373737;
	font-size:14px;
}
.body_2_4{
	padding-bottom:30px;
	color:#373737;
	font-size:14px;	
}

.body_row_yellow{
	width:579px;
	min-height:30px;
	background:#fefcf3;
}
.body_row_white{
	width:579px;
	min-height:30px;
	background:#ffffff;
}

.body_column{
	width:114px;
	float:left;
	padding-left:30px;
	color:#277d88;
	font-size:12px;
	padding-top:5px;
}

.body_3{
	background:url(../images/footer.PNG);
	width:836px;
	height:30px;
	padding-top:20px;
	padding-left:70px;
}

.footer_shopname{
	color:#CCCCCC;
}

.body_4{
	width:906px;
	height:50px;
	text-align:center;
	padding-top:30px;
	color:#6c6c6b;
}

.homepage_link{
	color:#277d88;
}

.homepage_link:hover{
	color:black;
}
a{
	text-decoration:none;
}

.search_result_alarm{
	height:20px;
	padding-top:30px;
	padding-left:10px;
	font-size:16px;
	font-weight:bold;
	color:#857973;
	text-transform:uppercase;
	float:left;
}

.search_form{
	float:left;
	cursor:pointer;
	color:#0A91CF;
	font-size:12px;
	padding-top:32px;
	padding-left:10px;
}

.shopDetailHeadWrapper{
	height:47px;
	border-bottom:1px solid #d4d4d4;
	background-color:#ebe9e8;
	padding:0px 10px 3px 10px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	border-color:#d1ccca;
	border-top-right-radius:6px;
	border-top-left-radius:6px;
}

.shopDetailBodyWrapper{
	padding:5px 0 5px 0;
	border-top:1px solid #f5f4f3;
	float:left;
	width:100%;
}

.shopRow{
	width:580px;
	height:148px;
	margin:22px 0 32px 0;
	cursor:pointer;
}

.shopLogo{
	width:120px;
	height:65px;
	display:block;
	background:transparent url(../images/restaurantlist_logoborder_sprite.png) no-repeat left top;
	padding:9px 10px 13px 10px;
	margin-left:8px;
	margin-right:6px;
	float:left;
}

.shopInfo{
	float:left;
	margin-left:2px;
	margin-top:6px;
	width:250px;
	font-size:12px;
	color:#857973;
}
.shopInfo .row{
	margin:5px 0 10px 10px;
}

.shop-info-time{
	float:left;
	color:#91C701;
	margin-left:2px;
	width:280px;
}

.shop-info-cash{
	float:left;
	color:#91C701;
	margin-left:2px;
}
.shop-Go{
	float:right;
	margin:50px 10px 0 0;
}

.shopRow:hover .speisekartenLink:hover{
	background:transparent url(../images/button_vorbestellen_2.png) no-repeat 0 -77px;
	color:#ffffff;
	font-family:FuturaPTCondBook, MyriadPro-Cond, "Myriad Pro Condensed", "Futura Condensed Medium";
}

.shopRow:hover .speisekartenLink_menu:hover{
	background:transparent url(../images/button_vorbestellen_2.png) no-repeat 0 -77px;
	color:#ffffff;
	font-family:FuturaPTCondBook, MyriadPro-Cond, "Myriad Pro Condensed", "Futura Condensed Medium";
}

.shopRow:hover .speisekartenLink{
	background:transparent url(../images/button_vorbestellen_2.png) no-repeat 0 -38px;
	color:#ffffff;
	font-family:FuturaPTCondBook, MyriadPro-Cond, "Myriad Pro Condensed", "Futura Condensed Medium";
}

.shopRow:hover .speisekartenLink_menu{
	background:transparent url(../images/button_vorbestellen_2.png) no-repeat 0 -38px;
	color:#ffffff;
	font-family:FuturaPTCondBook, MyriadPro-Cond, "Myriad Pro Condensed", "Futura Condensed Medium";
}

.shopRow:hover .shopDetailBodyWrapper{
	background:#EBE9E8;
	-webkit-border-bottom-left-radius::6px;
	-webkit-border-bottom-right-radius::6px;
	-moz-border-radius-bottomleft::6px;
	-moz-border-radius-bottomright::6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;

}

.speisekartenLink{
	background:transparent url(../images/button_vorbestellen_2.png) no-repeat 0 0;
	width:125px;
	height:27px;
	display:block;
	text-align:center;
	font-size:14px;
	color:#857973;
	padding-top:10px;
	text-transform:uppercase;
}

.speisekartenLink_menu{
	background:transparent url(../images/button_vorbestellen_2.png) no-repeat 0 0;
	width:125px;
	height:27px;
	display:block;
	text-align:center;
	font-size:14px;
	color:#857973;
	padding-top:10px;
	text-transform:uppercase;
}

.restaurantDetailNamehead{
	float:left;
	margin:3px 0 0 5px;
	height:40px;
}

.restaurantDetailQualityhead{
	float:right;
	color:#857973;
	margin-top:13px;
}

.shopName{
	font-size:26px;
	color:#432a1f;
}

.shopAddress{
	font-size:12px;
	color:#857973;
}
.empty{
	width:580px;
}

.unshown-time-table{
	display:none;
	z-index:1000;
	position:absolute;
}

.shown-time-table{
	display:inherit;
	z-index:1000;
	position:absolute;
}

.rounded_STYLE{
	background:#b9b2ae;
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	padding:5px 5px 5px 5px;
	color:#ffffff;
	width:240px;
}

.selected-day{
	border-top:1px solid #817771;
	border-bottom:1px solid #D1CCCA;
	background-color:#988E89;
}
#basic-modal-content{
	display:none;
}

.basic-modal-login{
	display:block;
}

.basic-modal-login-show{
	position:absolute;
	display:block;
}


/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {
	height:150px;
	width:350px;
	color:#bbb;
	background-color:#333;
	border:4px
	solid #444;
	padding:7px;
	-moz-border-radius:15px 15px 15px 15px;
	-webkit-border-radius:15px 15px 15px 15px;
	border-radius:15px 15px 15px 15px;
}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}

.alert_inner_window{
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	background:url(../images/lightbox_yellow_background.png);
	width:322px;
	margin:0 auto;
	padding:14px 0px 14px 0px;
}
.titleContainer{
	position:relative;
	padding:0 12px;
	color:#432A1F;
	display:block;
	height:38px;
}

.lightboxContent{
	padding:10px 12px 0;
}

.fliesstextL{
	color:#432A1F;
	font-size:13px;
}
.buttonSecondary{
	height:30px;
	margin-left:91px;
	cursor:pointer;
	display:inline-block;
}

.buttonSecondary_forgotpwd{
	height:30px;
	margin-left:0px;
	cursor:pointer;
	display:inline-block;
}

.sliceCenter{
	background: transparent url(../images/button_vorbestellen_2.png) no-repeat 0 -38px;
	width:125px;
	height:38px;
	line-height:35px;
	text-align:center;
}

.lightboxContent .sliceCenter:hover{
	background: transparent url(../images/button_vorbestellen_2.png) no-repeat 0 -77px;
}

.loginBox{
	width:310px;
	padding:5px 0 0 0;
	margin:0 auto;
}

.inputSmall{
	background:url(../images/lightbox_external_input.png) no-repeat center transparent;
	width:127px;
	height:22px;
	line-height:20px;
	font-size:12px;
	padding:2px 5px 1px 5px;
	border:0px;
}
 .inputLarge{
	background:url(../images/input_lightbox_search_big.png) no-repeat left center;
	width:280px;
	height:24px;
	line-height:20px;
	font-size:12px;
	padding:2px 5px 1px 5px;
	border:0px none;
}
.loginInputfield{
	float:left;
	width:157px;
	text-align:left;
	margin:0;
	padding:0;
}

.loginInputfield_forgotpwd{
	float:left;
	width:148px;
	text-align:left;
	margin:0;
	padding:6px 0 0 0;
}

.loginInputfields{
	width:316px;
	display:block;
	margin:0;
	padding:0;
}
.submit{
	text-align:right;
	height:40px;
	width:315px;
	margin:0;
	padding:0;
	display:block;
}
.loginSubmit{
	background:url(../images/button_lightbox_submit.png) no-repeat scroll top transparent;
	height:38px;
	margin-top:0;
	margin-left:1px;
	padding-top:2px;
	width:144px;
	cursor:pointer;
	float:right;
	text-transform:uppercase;
	border:0px none;
	color:white;
	text-align:center;
	font-size:15px;
	letter-spacing:0px;
}

.loginSubmit:hover{
	background: transparent url(../images/button_lightbox_submit.png) no-repeat 0 -38px;
}

.loginboxLinks{
	margin-top:18px;
	margin-left:2px;
	display:block;
}
.loginLinkSignup{
	width:170px;
	float:left;
	margin-top:-9px;
	display:block;
}
.loginLinkPwd{
	float:left;
	margin-top:9px;
	display:block;
	color:#0A91CF !important;
	font-size:12px;
	cursor:pointer;
}
.head_loginform_form{
	margin:0 auto;
}
.forgotpassword_shown{
	display:block;
}
.forgotpassword{
	display:none;
}
.signin_unshown{
	display:none;
}
.lightboxCloser{
	position:absolute;
	background:url(../images/lightbox_closer_yellow.png) no-repeat left top;
	display:block;
	height:16px;
	width:16px;
	right:12px;
	top:2px;
	cursor:pointer;
}
.no-data{
	width:580px;
	height:150px;
	margin-top:50px;
	margin-left:20px;
	color:red;
	font-size:18px;
}
#zip_code_search_only_input{
	color:#0A91CF;
	background:url(../images/input_lightbox_search.png) no-repeat left top;
	height:23px;
	width:123px;
	border:0px none;
	margin-top:-5px;
	padding:1px 25px 1px 5px;
}
.button_active{
	margin-left:-15px;
}

.signup-table{
	font-size:12px;
}

.signup-table td{
	font-size:12px;
	padding-left:15px;
	color:#333333;
}


textarea{
	font-size:12px;
}
.form{
	background:url(../images/lightbox_yellow_background_big.png);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-right:6px;
	min-height:440px;
}

#signup-interface{
}

.signup-interface-sub2{

}

.signup-interface-sub1{
	position:relative;
	padding:10px 12px;
	color:#432A1F;
	display:block;
	height:38px;
}
.message{
	margin-left:4px;
	position:relative;
	top:4px;
	font-size:14px;
	margin-top:0px;
	color:#666666;
	text-align:center;
}
.forgot_password_message{
	margin-left:4px;
	position:relative;
	top:4px;
	font-size:14px;
	margin-top:0px;
	color:#666666;
	text-align:center;
}

.unshown-id-postcode-search{
	text-align:left;
	position:absolute;
	width:247px;
	background:#fcf9ec;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-border-radius:10px;
	margin-top:10px;
	padding-left:10px;
	padding-top:5px;
	display:none;
	line-height:22px;
}

.shown-id-postcode-search{
	text-align:left;
	position:absolute;
	width:247px;
	background:#fcf9ec;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-border-radius:10px;
	margin-top:10px;
	padding-left:10px;
	padding-top:5px;
	display:inherit;
}

.unshown-id-postcode-search a{
	font-size:12px;
	color:#333333;
}
/** rating **/
.rating_bg{
	background: url(../images/rating_bg.png) no-repeat;
	width:155px;
	height:25px;
	padding:2px 3px 2px 3px;
}
.rating_value{
	font-size:12px;
	line-height:25px;
	color:#63896d;
	padding-left:1px;
}
.rating_text{
	font-size:12px;
	line-height:25px;
	color:#5b5b5b;
}
/* tooltip styling */
.tooltip {
	background:url(../images/tip_bg_white.png) no-repeat top center;
	width:422px;
	height:270px;
	padding:50px 30px 10px 30px;
	font-size:11px;
	color:#41623e;
	z-index:99;
}

/* a .label element inside tooltip */
.tooltip .label {
	color:yellow;
	margin:6px 0;
}

.tooltip span {
	color:#ff3300;
	font-size:11px;
}